fastapi[standard]
sqlmodel
pydantic-settings
psycopg
websockets
wave 
webrtcvad
bitsandbytes 
torch 
urllib3 
librosa 
accelerate 
huggingface_hub 
numpy 
scipy 
soundfile 
resampy
noisereduce
piper-phonemize~=1.1.0
onnxruntime>=1.11.0,<2
piper-tts
pocketsphinx